body{
    height: 500px;
}

.container{
    margin-top: 10%;
    width: 900px;
    height: 500px;
    background-color: antiquewhite;
    margin: 0 auto;
}

.container h1{
    text-align: center;
}

.log-block{
    display: flex;
    justify-content: center;
}

.test-field{
    margin-top: 1%;
    width: 800px;
    height: 400px;
    background-color: rgb(197, 193, 193);
}